
.add_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 20%;
    height: 4vh;
    margin-top: 4%;
    left:40%;
    right: 40%;
    background-color: #1d1b31;
      border: 0;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      color: #fff;
      font-family: inherit;
      font-size: 14px;
      padding: 10px 25px;
  }
  